<footer>
  <link rel="stylesheet" href="/css/footer.css" type="text/css" />

  <!-- Grid container for footer items -->
  <div class="footer-grid">
    <div class="footer-item">
      <div class="footer-item-title">
        <a >פרטי יצירת קשר </a>
      </div>
      <div class="footer-item-content">
        <ul id="menu" class="menu">
          <p id="city">
            <i
              class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"
            ></i>&nbsp;&nbsp;
            אשדוד , רוגוזין 9
            
          </p>
          <p id="phone">
            <i
              class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"
            ></i>&nbsp;&nbsp;
            050-9088120
            
          </p>
          <p id="email">
           
            <i
              class="fa fa-envelope-o fa-fw w3-margin-right w3-large w3-text-teal"
            ></i>&nbsp;&nbsp;
            shai.manofin@gmail.com
          </p>
          <p id="time">
            <i
              class="fa fa-clock-o fa-fw w3-margin-right w3-large w3-text-teal"
            ></i>&nbsp;&nbsp;
            א'-ה', 8:00 - 19:00
            
          </p>
        </ul>
      </div>
    </div>



    <div class="footer-item" id="services-footer">
      <div class="footer-item-title">
        <a >שירותי החברה</a>
      </div>
      <div class="footer-item-content" id="services-footer">
        <!-- <div class="menu-container"> -->
        <ul id="menu" class="menu">
          <li><a href="/#">השכרת מנופים </a></li>
          <li><a href="#">מכירת מנופים</a></li>
          <li><a href="#">כח אדם</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-item" >
      <div class="footer-item-title">
        <a href="#"> קצת עלינו</a>
      </div>
      <div class="footer-item-content">
        <ul id="menu" class="menu">
          <li><a href="/contactUs"> אודות </a></li>
          <li><a href="#">פרויקטים נבחרים </a></li>
          <li><a href="#"> לקוחותינו </a></li>

        </ul>
      </div>
    </div>
    <div class="footer-item" id="footer-logo">
      <a  href="#" title="SRC | ש.ר מנופים ">
        <img class="logo-main scale" src="/assets/sr-logo.png" alt="logo"
      /></a>
    </div>
  </div>

</footer>
