<footer>
  <link rel="stylesheet" href="/css/footer.css" type="text/css" />

  <!-- Grid container for footer items -->
  <div class="footer-grid">
    <div class="footer-item">
      <div class="footer-item-title">
        <a >פרטי יצירת קשר </a>
      </div>
      <div class="footer-item-content">
        <ul id="menu" class="menu">
          <p id="city">
            <i class="fa fa-home fa-fw"></i>&nbsp;&nbsp; אשדוד , רוגוזין 3 משרד 37
          </p>
          <p id="phone">
            <i class="fa fa-phone fa-fw"></i>&nbsp;&nbsp; יוסי: 050-4000-811 
          </p>
          <p id="phone">
            <i class="fa fa-phone fa-fw"></i>&nbsp;&nbsp; משרד: 077-404-7-406 
          </p>
          <p>
            <i class="fa fa-envelope fa-fw"></i>&nbsp;&nbsp;
            RTCRANES.1@gmail.com
          </p>
          <p id="time">
            <i class="fa fa-clock-o fa-fw"></i>&nbsp;&nbsp; א'-ה', 8:00 -
            19:00
          </p>
        </ul>
      </div>
    </div>



    <div class="footer-item" id="services-footer">
      <div class="footer-item-title">
        <a >שירותי החברה</a>
      </div>
      <div class="footer-item-content" id="services-footer">
        <!-- <div class="menu-container"> -->
        <ul id="menu" class="menu">
          <li><a href="/cranesRental">השכרת מנופים </a></li>
          <li><a href="/soon">מכירת מנופים</a></li>
          <li><a href="/soon">כח אדם</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-item" >
      <div class="footer-item-title">
        <a > קצת עלינו</a>
      </div>
      <div class="footer-item-content">
        <ul id="menu" class="menu">
          <li><a href="/homePage#about-section"> אודות </a></li>
          <li><a href="/soon">פרויקטים נבחרים </a></li>
          <li><a href="/homePage#clients-section"> לקוחותינו </a></li>

        </ul>
      </div>
    </div>
    <div class="footer-item" id="footer-logo">
      <a  href="#" title="RTC | מנופי אר.טי">
        <img class="logo-main scale" src="/assets/rt-logo.png" alt="logo"
      /></a>
    </div>
  </div>

</footer>
