<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>about Us</title>
    <%- include('../partials/head') %>    <link rel="stylesheet" href="css/aboutUs.css" />
    <link rel="stylesheet" href="/css/footer.css" />
   
  </head>
  <body>
    <header><%- include('../partials/header') %></header>
    <section class="sub-header">
      <h1>אודות</h1>
      <p style="text-align: center">
        <a class="link" href="/homePage">דף הבית</a>&gt
        <a class="link" > אודות </a>
      </p>
    </section>
    <section class="about"> 
      <div class="main">
        <div class="img-container">
        <img src="/assets/crane-img-aboutUs.jpg" alt="GRT880">
        </div>
        <div class="text-container">
          <h1>אודותינו</h1><hr>
          <div class="about-text">
          
          <p>
            ש.ר מנופים
            מספקת שירותים בתחומים:  <br />שירותי מנוף נייד R.T מנופי שטח, שירותי הנפה וכ"א מקצועי בציוד מכני, כולל מפעילי צמ"ה, מנופאים, שופלים, מלגזות מסתובבות, מחפרים. החברה מחזיקה בבעלותה מנופים מסוג R.T
           <br />החברה מחזיקה בבעלותה מנופים מסוג R.T <br />
       
          </p>
        </div>
      </div>
      </div>
 </section>
    <footer><%- include('../partials/footer') %></footer>

  </body>
  <script>
        setActivePage("aboutus");

  </script>
</html>
