<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/contactUs.css" />

  </head>
  <header><%- include('../partials/header') %></header>
  <body>
    <section class="content">
      <div class="container">
        <h1 id="name">פרטי יצירת קשר</h1>
    
        <p id="city">
          אשדוד , רוגוזין 9
          <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>
        </p>
        <p id="phone">
          050-9088120
          <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal" ></i>
        </p>
        <p id="email">
            shaimanofin@gmail.com
          <i class="fa fa-envelope-o fa-fw w3-margin-right w3-large w3-text-teal" ></i>
        </p>
        <p id="time">
            8:00 - 19:00
          <i class="fa fa-clock-o fa-fw w3-margin-right w3-large w3-text-teal"></i>  
        </p>
  
      </div>
    </section>
    <footer><%- include('../partials/footer') %></footer>
  </body>
  <script>
    setActivePage("contactus");

</script>
</html>
