<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>Crane Rental</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/cranesRental.css" />
  </head>
  <header><%- include('../partials/header') %></header>
  <body>
    <section class="sub-header">
      <h1> כח אדם ומפעילים</h1>
      <p style="text-align: center">
        <a class="link" href="/homePage">דף הבית</a>&gt
        <a class="link" href="/homePage#services-section">שירותים</a>&gt
        <a class="link" >  כח אדם ומפעילים   </a>
      </p>
    </section>
    <section class="content">
      <div class="container">
        <h2>כח אדם ומפעילים</h2>

          <div class="text-container">
            <p>
              אנו מציעים שירות של השכרת מנופים איכותיים ומקצועיים, בהתאמה מלאה לפרויקט שלכם, עם אפשרות להעמדת מפעיל לימי עבודה לבחירתכם.

              בכל השכרה אנחנו בוחנים ביחד איתכם את הצורך ואת הפרויקט, הסביבה והדרישות בהתאם למבנה ולשטח - על מנת לבחור את הפתרון המתאים ביותר עבורכם.
              
              בצי שלנו יש מגוון מנופי RT להשכרה, מוזמנים ליצור קשר לפרטים נוספים וקבלת הצעת מחיר.
            </p>
        </div>
        <p style="text-align: center">
          <a class="button" href="/homePage#contact-section">  &lt; יצירת קשר   </a>
        </p>
      </div>
    </section>
    <footer><%- include('../partials/footer') %></footer>
  </body>


</html>
