<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/projects.css">
  <title>Selected Projects</title>
</head>
<body>
    <%- include('../partials/header') %>
    <section class="project-section">
    <h1>Selected Projects</h1>
  <main>
    
    <div class="project-container">
      <img src="assets/crane-background-img1.jpg" alt="Project 1">
      <div class="project-info">
        <h2>Project 1 Title</h2>
        <p>Description of Project 1.</p>
      </div>
    </div>
    <div class="project-container">
        <img src="assets/crane-background-img1.jpg" alt="Project 1">
        <div class="project-info">
          <h2>Project 1 Title</h2>
          <p>Description of Project 1.</p>
        </div>
      </div>
      <div class="project-container">
        <img src="assets/crane-background-img1.jpg" alt="Project 1">
        <div class="project-info">
          <h2>Project 1 Title</h2>
          <p>Description of Project 1.</p>
        </div>
      </div>
      <div class="project-container">
        <img src="assets/crane-background-img1.jpg" alt="Project 1">
        <div class="project-info">
          <h2>Project 1 Title</h2>
          <p>Description of Project 1.</p>
        </div>
      </div>
  </main>
</section>
</body>
</html>
