<!DOCTYPE html>
<html lang="he">
  <head>
    <%- include('../partials/head') %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/homePage.css" />
  </head>
  <body id="soon" >
    <header><%- include('../partials/enHeader') %></header>
    <section class="under-construction-section">
     
      <div class="banner" id="not-found">
        <div class="content">
          <div class="center-icon" >
            <img
            src="/assets/under-construction-icon.png"
            alt="Icon"
            class="icon-image-soon"
          />
          </div>
          <h3>Page Under Construction</h3>
          <h2 class="soon-subtitle">
            This page will be ready soon          </h2>
          <a class="button" href="/homePageEn"> Go Back</a>
        </div>
      </div>
</section>
  </body>